---
kind: HTTPRoute
apiVersion: gateway.networking.k8s.io/v1
metadata:
  name: grafana-service-route
  namespace: monitoring-ns
spec:
  parentRefs:
  - name: gateway-applications
    namespace: gateway-api-ns
  hostnames:
  - "grafana.${GATEWAY_IP}.nip.io"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /
    backendRefs:
    - name: monitoring-grafana
      port: 80
