---
kind: HTTPRoute
apiVersion: gateway.networking.k8s.io/v1
metadata:
  name: ngo-httproute
  namespace: ngo-ns
spec:
  parentRefs:
  - name: gateway-applications
    namespace: gateway-api-ns
  hostnames:
  - "solidary-tech.${GATEWAY_IP}.nip.io"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /ngo-service
    backendRefs:
    - name: ngo-service
      port: 80
